.benefits-section {
  padding: 6% 5% 5% 5%;
}

.benefit-card {
  @apply col-span-12 sm:col-span-6 xl:col-span-3 mt-[4.5rem];
}
.benefit-card-desc {
  @apply tracking-[0.04em] font-normal not-italic;
}

@media screen and (max-width: 800px) {
  .benefits-section {
    padding-top: 8%;
  }
}
@media screen and (max-width: 640px) {
  .benefits-section {
    padding-top: 14%;
  }
}
