.bg-none {
  background-color: #fff !important;
}
.logoImg {
  background: url('../assets/riyahd_air_logo_en.svg') no-repeat;
  background-size: 15% 60%;
  background-position: 1% center;
  z-index: 1;
}
.dashboard {
  @apply w-3/4 mx-auto;
}

.header {
  background-color: #230751;
}
.borderGray {
  border: solid gray 1px;
}
.new-article-btn {
  background-color: var(--primary-color);
}
.dropdown {
  right: 1.25rem;
  background-color: #fff;
  @apply rounded-sm
}
.dropdown li {
  border: solid #ccc 1px;
}