.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-t-md py-1;
  position: relative;
  overflow: hidden;
}

.logoImg {
  background: url('../assets/riyahd_air_logo_en.svg') no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 60%;
  background-size: contain;
  background-position: center center;
  z-index: 1;
}

.cloud_one {
  background: url('../assets/cloud_1.png') no-repeat;
  position: absolute;
  top: 65%;
  left: 10%;
  width: 180px;
  height: 100px;
  background-size: contain;
  z-index: 2;
  transform: translateX(290%);
  /* animation: cloud_one 25.5s ease-in 5.9s infinite; */
}

.cloud_two {
  background: url('../assets/cloud_2.png') no-repeat;
  position: absolute;
  top: 49%;
  left: 50%;
  width: 200px;
  height: 100px;
  background-size: contain;
  z-index: 0;
  transform: translateX(290%);
  /* animation: cloud_two 18.5s ease-in .9s infinite; */
}

/* css keyframes */
@keyframes cloud_one {
  0% {
    transform: translateX(290%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes cloud_two {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-250%);
  }
}
