.footer {
  color: #fff;
  display: flex;
  padding: calc(var(--container-gutter) * 0.5) var(--container-gutter);
  justify-content: space-between;
}

.footer__links li a {
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.8rem;
}

.footer p {
  color: #fff;
  font-size: 0.75rem;
  line-height: 12px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo img {
  margin-bottom: 24px;
}

.footer__handles {
  display: flex;
  align-items: center;
}

.footer__handles-mobile {
  display: none;
}

.footer__handles a {
  margin: 0 8px;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    padding: 24px 24px 40px;
  }

  .footer__links li a {
    display: block;
    padding-bottom: 16px;
  }

  .footer__handles {
    display: none;
  }

  .footer__handles-mobile {
    display: flex;
    justify-content: center;
    margin: 10px 0 54px;
  }
}
