.form-title {
  margin-bottom: var(--container-gutter);
}

.contact-container {
  padding-left: calc(var(--container-gutter) * 1) !important;
  padding-right: calc(var(--container-gutter) * 1) !important;
}

.error-msg {
  @apply text-[#ff0000] pb-[10px] ltr:float-right rtl:float-left;
  font-size: 1rem;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-stretch: 100%;
  letter-spacing: 0.64px;
}
.invalid {
  border-bottom: 2px solid #ff0000 !important;
}
.input {
  @apply w-full border-b-2 border-[#230751] border-solid p-4 focus:outline-0 focus:shadow-none;
  color: #230571;
  font-family: 'Poppins';
}
[dir='rtl'] .input {
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.contact-btn {
  @apply uppercase ltr:tracking-[0.24em] font-bold font-normal m-auto text-[1rem] text-white p-4 h-[48px] w-[167px] border-none;
  background-color: var(--primary-color);
}
.bi.bi-triangle-fill {
  transform: rotate(210deg);
}
.rtl .bi.bi-triangle-fill {
  transform: rotate(30deg);
}
.alert {
  @apply p-4 mb-3 rounded-md;
}

.sending-alert {
  color: #230571;
  background-color: #bcb3d6;
  border: 1px solid #230571;
}

.success-alert {
  color: #3b6422;
  background-color: #ceeac4;
  border: 1px solid #87ad70;
}

.failure-alert {
  color: #f38c8c;
  background-color: #ffcfcf;
  border: 1px solid #f38c8c;
}
