.career-section {
  padding-top: 8%;
  padding-bottom: 8%;
}

.card-item {
  background-color: #fff;
  position: relative;
}

.pilot-text-image-pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -37%);
}

.cabin-text-image-pos,
.engg-text-image-pos,
.digi-text-image-pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-over-image {
  position: absolute;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
}
.quiche .text-over-image {
  font-family: 'quiche-sans';
}
.desc-container {
  @apply flex justify-center items-center;
}
.career-btn {
  @apply w-auto mt-8 tracking-[0.16rem] uppercase not-italic font-bold text-[0.8rem] leading-[24px] box-border;
  background-color: var(--primary-color);
  padding: 8px 10px;
  -webkit-appearance: button;
}

@media screen and (max-width: 1080px) {
  .contact-form {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 800px) {
  .contact-form p {
    padding-top: 32px;
  }
}
